@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

ul,
ol {
 list-style: none;
}

p,
a {
 text-decoration: none;
 color: #333;
}

body {
 font-size: 14px;
 color: #003946;
}
textarea {
 resize: none;
}
input,button,textarea{outline:0;border-radius: 0; border:0; padding:10px; 
 color:#777;}

 /* title */
.tit_box {
 width: 100%;
 height: auto;
 display: flex;
 align-items: center;
 /* justify-content: center; */
 flex-direction: column;
 padding: 0 0 50px 0;
}
.tit_box h2 {
 font-size: 50px;
 font-weight: 200; 
 margin:0 0 20px 0;
}
.tit_box p {
 font-size: 18px;
 font-weight: 300;text-align:center;
}
.center{
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}